<%- include ('../partials/header.ejs') %>


<div class="container shadow p-3 mb-5 bg-white rounded text-center">

        <h1 class="display-5"> imates</h1>

        <style>

          h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
          
        </style>

          <hr>
          <table  class="table table-striped">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">security Number</th>
                <th scope="col">adress</th>
                <th scope="col">comited Crime</th>
                <th scope="col">data Of Release</th>
              </tr>
              <tr>
                <td><%= ima.name %></td>
                <td><%= ima.securityNumber %></td>
                <td> <%= ima.adress %></td>
                <td><%= ima.comitedCrime %></td>
                <td> <%= ima.dataOfRelease %></td>
              </tr>

          </table>
    

          <h1>Find another</h1>
        
          <%- include ('Imates') %>
        
        </div>

