<%- include ('../../admin/partials/header.ejs') %>


<div class="container shadow p-3 mb-5 bg-white rounded text-center">

        <h1 class="display-5"> List of imates</h1>

         
            <% imates.forEach(function(imates){ %>
                <hr>
                <div class="table-responsive">

                <table class="table table-striped">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Security Number</th>
                      <th scope="col">Adress</th>
                      <th scope="col">Comited Crime</th>
                      <th scope="col">Data Of Release</th>
                      <th scope="col">Actions</th>

                    </tr>
                    <tr>
                      <td><%= imates.name %></td>
                      <td><%= imates.securityNumber %></td>
                      <td> <%= imates.adress %></td>
                      <td><%= imates.comitedCrime %></td>
                      <td> <%= imates.dataOfRelease %></td>
                      <td>

                        <button style="display: inline;" class="btn btn-secondary">Edit</button>
                       
                        <form method="POST" action="/admin/delet" style="display: inline;" onsubmit="youSure(event, this)">
                          <input type="hidden" name="id" value="<%= imates.id %>">
                        <button  style="display: inline;" class="btn btn-dark">Delet</button>
                        
                        </form>
                    </td>

                    </tr>
                </table>
              </div>
            <% }); %>
        
 
        </div>



<%- include ('../partials/footer.ejs') %>

<script>

  function youSure(event, form) {
    event.preventDefault()
    var decision = confirm('Are you sure?')

    if(decision) {
            form.submit()
        } else {
            console.log('Not sure')
        }

  }

</script>