<%- include ('../../admin/partials/header.ejs') %>


<div class="container shadow p-3 mb-5 bg-white rounded text-center">

        <h1 class="display-5"> List of Persons</h1>

         
           <% person.forEach(function(person){ %>
                <hr>
                <div class="table-responsive">

                <table class="table table-striped">
                    <tr>
                      <th scope="col">Email	</th>
                      <th scope="col">Name</th>
                      <th scope="col">Security Number</th>
                      <th scope="col">City</th>
                      <th scope="col">Adress</th>
                      <th scope="col">Estate</th>
                      <th scope="col">Fone number</th>
                      <th scope="col">Action</th>

                    </tr>
                    <tr>
                      <td><%= person.email %></td>
                      <td><%= person.name %></td>
                      <td><%= person.securityNumber %></td>
                      <td><%= person.city %></td>
                      <td><%= person.adress %></td>
                      <td><%= person.estate %></td>
                      <td> <%= person.foneNumber %></td>
                      <td>

                        <a href='/admin/editPerson/<%=person.id %>' style="display: inline;" class="btn btn-secondary">Edit</a>
                       
                        <form method="POST" action="/admin/personDelet" style="display: inline;" onsubmit="youSure(event, this)">
                          <input type="hidden" name="id" value="<%= person.id %>">
                        <button  style="display: inline;" class="btn btn-dark">Delet</button>
                        
                        </form>
                    </td>

                    </tr>
                </table>
              </div>
            <% }); %>
        
        </div>
<script>

  function youSure(event, form) {
    event.preventDefault()
    var decision = confirm('Are you sure?')

    if(decision) {
            form.submit()
        } else {
            console.log('Not sure')
        }

  }

</script>